.app {
	position: relative;
	overflow: hidden;
	width: 100%;
}
	.app__sidebar {
		background: transparent;
		left: 0;
		padding: $half-spacing-unit $half-spacing-unit/2;
		position: absolute;
		top: 0;
		height: 100%;
		width: 33%;
		z-index: 9999;
		&.active {
			left: 0;
		}
	}

		.app__sidebar__content {
			position: relative;
			top: 100%;
			background: #ffffff;
			padding: $half-spacing-unit $half-spacing-unit/2;
			overflow: hidden;
			opacity: 0;
			@include vendor(transition-property, opacity, top);
			@include vendor(transition-duration, .2s, 0);
			@include vendor(transition-delay, 0, .3s);
			@include vendor(transition-timing-function, ease-in-out);

			&.active {
				opacity: 1;
				top: 0;
				@include vendor(transition-duration, .2s, 0);
				@include vendor(transition-delay, 0, 0);
			}
		}

		.app__sidebar__toggle {
			background: red;
			display: block;
			position: absolute;
			bottom: 0;
			height: $base-spacing-unit;
			width: $base-spacing-unit;
		}

	.app__main {
		
		float: left;
		overflow: hidden;
		position: relative;
		width: 100%;


		.fetching {
			background-image: url(../img/loading.gif);
			background-position: center center;
			background-repeat: no-repeat;
			height: 100%;
			position: absolute;
			width: 100%;

			&.fail {
				background-image: none;
			}

			.fetching__message {
				color: $silver;
				height: 100%;
				font-style: italic;
				position: absolute;
				text-align: center;
				top: 55%;
				width: 100%;
			}
		}
		
	}