.js-accordion {

	> .js-accordion-content {
		max-height: 0;
		height: auto;
		overflow: hidden;
		@include vendor(transition, .2s ease-in-out);
	}

	&.active {

		> .js-accordion-content {
			max-height: 1000px;
			height: auto;
		}
	}

}