.maptools {
	border: 2px solid #000000;
	position: absolute;
	right: $half-spacing-unit;
	top: $half-spacing-unit;
	z-index: 9999;

	@include vendor(border-radius, 3px);

	li:last-child {
		.btn--maptool {
			border-right: 0;
		}
	}
}

	.btn--maptool {
		@extend .btn;

		background: #ffffff;
		border-right: 2px solid #000000;
		line-height: 2;

		@include vendor(border-radius, 0);
		@include font-size(11px);

		&.is-active {
			background: yellow;
		}
	}